.service-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.service-field input{
    border-bottom: 1px solid lightgray ;
    border-top: 0px solid lightgray ;
    border-left: 0px solid lightgray ;
    border-right: 0px solid lightgray ;
    width: 400px;
    padding: 10px;
}