.custom-nav a{
    margin-right: 20px;
    font-weight: 700;
    
}
.custom-login-btn{
    background-color: #FF9C34;
    border: 0;
}
.custom-login-btn:hover{
    background-color: rgb(243, 69, 26);;
}
.custom-nav a:focus{
    /* color: #FF9C34; */
    font-weight: bold;
    border-bottom: 3px solid #152B5A;
}
