.App {
  font-family: 'Roboto', sans-serif;
}
.text-custom-secondary{
  color: rgb(3, 37, 80);
}
.text-custom-danger{
  color: rgb(255, 118, 152);
}
.bg-custom-danger{
  background: rgb(255, 118, 152)
}
.top-banner{
  background-image: linear-gradient( rgba(11, 54, 80, 0.479), rgba(0, 0, 0, 0.342)), url('./images/page-title.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 44vh;
    opacity: 1;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
